body{
	height: 2000px;
	background-color: pink;
}
.a{
	height: 300px;
	width: 300px;
	background-color: red;
}
div.a:after{
	position: absolute;
	border-top: 50px solid red;
	border-bottom: : 50px solid transparent;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	top:300px;
	left:300px;
}